#mk_options input{border: 1px solid #000;padding:2px 5px;font-size:12px}
#mk_options .box {
    border: 1px solid #000;
    float: left;
    width: 500px;
    margin-right: 20px;
    height: 130px;
    background: #ebebeb;
    padding: 15px;
}
#mk_options .box h3{
    margin:0;
}
.mk_edit{
    width: 14px;
    height: 14px;
    text-align: center;
    display: inline-block;
    color: #006621;
    font-size: 16px;
    line-height: 14px;
    cursor: pointer;
    border: 1px solid #006621;
    border-radius: 2px;
}
.mk_edit:before{
    content:'+';
}
#mk_mask{
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
#mk_label_settting{
    width: 400px;
    height: 300px;
    background: #fff;
    left: 50%;
    margin-left: -200px;
    margin-top: -150px;
    position: absolute;
    top: 50%;
    font-family:arial;
    font-size:12px!important;
    border-radius: 4px;
    color: #000!important;
}
#mk_label_settting button{
    font-size:12px!important;
    color: #000!important;
    padding: 0 5px!important;
}
#mk_label_settting p{
    margin: 15px!important;
    color: #000!important;
    font-size:12px!important;
}
#label_1, 
#label_2{
    display:none;
}
#label_1 input, 
#label_2 input{
    padding: 0 3px;
    width:250px
}
.labeltype_1 #label_1,
.labeltype_2 #label_2{
    display:block;
}
.mk_c1 {
    color: #fff;
    background: #F64339;
    padding: 0 4px;
    font-size: 13px;
    outline: #F64339 solid 1px;
    outline-offset: 1px;
    display: inline-block;
    font-family: Arial;
}
.mk_c2 {
    color: #fff;
    background: #F6A13A;
    padding: 0 4px;
    font-size: 13px;
    outline: #F6A13A solid 1px;
    outline-offset: 1px;
    display: inline-block;
    font-family: Arial;
}
.mk_c3 {
    color: #fff;
    background: #5454B6;
    padding: 0 4px;
    font-size: 13px;
    outline: #5454B6 solid 1px;
    outline-offset: 1px;
    display: inline-block;
    font-family: Arial;
}
.mk_c4 {
    color: #fff;
    background: #299229;
    padding: 0 4px;
    font-size: 13px;
    outline: #299229 solid 1px;
    outline-offset: 1px;
    display: inline-block;
    font-family: Arial;
}
#mk_url_1, #mk_url_2{
    color:#999
}
#mk_confirm{
    height: 30px;
    cursor: pointer;
}
#mk_cancel,
#mk_remove{
    float: right;
    height: 30px;
    cursor: pointer;
    margin-left:10px;
}
.mk_label{
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-bottom;
}
#label_bar{
    font-family: arial;
    font-size: 12px;
    position:fixed;
    display: block;
    height: 22px;
    padding: 3px;
    bottom: 0;
    right: 0;
    z-index: 9999999999;
    background: #fff;
    text-align: left;
}
#mk_hide{
    display: inline-block;
    cursor: pointer;
    margin-right: 6px;
    margin-left: 6px;
    color: rgb(0, 102, 33)!important;
}
#result td{
    margin:5px;
    padding: 5px 20px 5px 0;
}
#synurl{
    width:400px;
}
